body {
	margin: 0;
	padding: 0;
	background: #E5E6DD;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #8A8985;
	width: 1200px;
	margin: 0px auto;
}

h1, {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #7D7764;
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #7D7764;
}

h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #7D7764;
}


p, ul, ol {
	line-height: 125%;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #5BA689;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

IMG.dcclogo {
	display: block;
	width: 362px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

#wrapper {
	background: #F1F2E9;
}

.container {
	width: 1200px;
	margin: 0px auto;
}


#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 20px;
}


#menu-wrapper {
	overflow: hidden;
	height: 53px;
	background: #00688B;
}

#menu {
	overflow: hidden;
	height: 52px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	text-transform: lowercase;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
	background: #50A6C2;
	text-decoration: none;
	color: #FFFFFF;
}

#page {
	padding: 20px 20px 40px 20px;
}

#content {
	margin: 0px auto;
	width: 800px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
}

.post .title {
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 2px solid #E0E1D6;
	text-shadow: 1px 1px 0px #FFFFFF;
	font-size: 35px;
	color: #373737;
}

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 75px;
}

#footer p {
	text-align: center;
}

#banner {
	overflow: hidden;
	height: 450px;
	background: url(images/img04.png) no-repeat center bottom;
}


#blockicon {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

#blockicon #blockicon1 {
	float: left;
	width: 384px;
	margin-right: 20px;
	padding-left: 3px;
}

#blockicon #blockicon1 a:hover {
	background: #00688B;
	text-decoration: none;
	color: #FFFFFF;
}


#blockicon #blockicon2 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#blockicon #blockicon3 {
	float: right;
	width: 384px;
	margin-right: 5px;
}

#blockicon #blockicon1 div:hover {
	background: #00688B;
	text-decoration: none;
	color: #FFFFFF;
}

#blockicon #blockicon2 div:hover {
	background: #00688B;
	text-decoration: none;
	color: #FFFFFF;
}

#blockicon #blockicon3 div:hover {
	background: #00688B;
	text-decoration: none;
	color: #FFFFFF;
}


.block {
	background: #50A6C2;
}

.block h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
}

.block .image {
	width: 324px;
	margin-right: auto;
	margin-left: auto;
}

.block .content {
	overflow: hidden;
	width: 324px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.block .content a:hover {
	background: #00688B;
}

.gmap {
	margin: 0px auto;
}