body {
	margin: 0;
	padding: 0;
	background: #E5E6DD;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #8A8985;
	width: 1200px;
	margin: 0px auto;
}

h1, {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #7D7764;
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #7D7764;
}

h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #7D7764;
}


p, ul, ol {
	line-height: 125%;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #5BA689;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

IMG.dcclogo {
	display: block;
	width: 362px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

#wrapper {
	background: #F1F2E9;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

header { padding: 200px 0 0 0; display: block; }
header h1 { width: 960px; margin: 0 auto; }
a { color: blue; }
a:hover { color: blue; }

.nav-wrap { 
	margin: 0px auto; 
	background-color: #00688B; 
	border-bottom: 2px solid white; 
}

#example-one { 
	margin: 0px auto; 
	list-style: none; 
	position: relative;
	text-align: center;
	height: 50px; 
	 
}
#example-one li { 
	display: inline-block;	
}
#example-one a { 
	color: white; 
	font-size: 14px; 
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
#example-one a:hover { 
	color: white; 
}
#magic-line { 
	position: absolute;
	bottom: -2px; 
	left: 0; 
	width: 100px; 
	height: 2px; 
	background: #fe4902;
}
.current_page_item a { 
	color: #50A6C2 !important; 
}
.ie6 #example-one li, .ie7 #example-one li { 
	display: inline; 
}
.ie6 #magic-line {
	bottom: -3px;
}


#page {
	padding: 20px 20px 40px 20px;
}

#content {
	margin: 0px auto;
	width: 800px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
}

.post .title {
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 2px solid #E0E1D6;
	text-shadow: 1px 1px 0px #FFFFFF;
	font-size: 35px;
	color: #373737;
}

#footer {
	height: 20px;
	margin: 0 auto;
	padding: 50px;
	background-color: #00688B;
}

#footer p {
	text-align: center;
	color: white;
}

#banner {
	overflow: hidden;
	height: 450px;
	background: url(images/img04.png) no-repeat center bottom;
}


#blockicon {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

#blockicon #blockicon1 {
	float: left;
	width: 384px;
	margin-right: 20px;
	padding-left: 3px;
}

#blockicon #blockicon1 a:hover {
	background: #00688B;
	text-decoration: none;
	color: #FFFFFF;
}


#blockicon #blockicon2 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#blockicon #blockicon3 {
	float: right;
	width: 384px;
	margin-right: 5px;
}

#blockicon #blockicon1 div:hover {
	background: #00688B;
	text-decoration: none;
	color: #FFFFFF;
}

#blockicon #blockicon2 div:hover {
	background: #00688B;
	text-decoration: none;
	color: #FFFFFF;
}

#blockicon #blockicon3 div:hover {
	background: #00688B;
	text-decoration: none;
	color: #FFFFFF;
}


.block {
	background: #50A6C2;
}

.block h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
}

.block .image {
	width: 324px;
	margin-right: auto;
	margin-left: auto;
}

.block .content {
	overflow: hidden;
	width: 324px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.block .content a:hover {
	background: #00688B;
}