<!DOCTYPE html>
<html lang="en">
<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Single</title>
		<style type="text/css" media="screen">
		.wrap{
			margin: 0 10%;
		}

		header, footer {
			background: #ccc;
		}

		</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere commodo dui, at mollis leo pellentesque eget. Sed dignissim dui vel urna blandit molestie. Morbi vitae neque quam. Cras sed elit augue, sit amet dapibus enim. Aenean iaculis accumsan turpis elementum sollicitudin. Donec cursus enim sed dui hendrerit in fermentum lectus lobortis. Maecenas vel eros lacus, et dapibus justo.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere commodo dui, at mollis leo pellentesque eget. Sed dignissim dui vel urna blandit molestie. Morbi vitae neque quam. Cras sed elit augue, sit amet dapibus enim. Aenean iaculis accumsan turpis elementum sollicitudin. Donec cursus enim sed dui hendrerit in fermentum lectus lobortis. Maecenas vel eros lacus, et dapibus justo.</p>
		</section>
		<footer>
			<p>This is a footer.</p>

		</footer>	
	</div>	
</body>
</html>